body {
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;

}

.font-size {
    font-size: 50px;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-one {
    text-decoration: none;
    background-image: linear-gradient(yellow, tomato);
    padding: 10px 40px;
    font-weight: 900;
    border-radius: 10px;
    color: black;
}