body {
    font-family: 'Roboto Slab', serif;
    text-align: center;

}

.font-size {
    font-size: 50px;
    color: white;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 900;
    color: black;
}

#padding {
    padding: 5px 400px;
    text-align: justify;
    color: white;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: cover;

}


#font {
    font-size: 40px;
    color: black;
}

#paad {
    padding: 5px 400px;
    text-align: justify;
    color: black;
}

.contribution {
    display: flex;
}

.flexible-container {
    width: 50%;

}

.amount {
    display: flex;
    justify-content: center;

}

.amount h3 {
    margin: 5px 30px;
    padding: 40px 40px;
    background-color: bisque;
    border-radius: 10px;
}

#size {
    font-size: 40px;
}

#focus {
    border: 5px solid;
    color: blue;
    background-color: aqua;
}

#underline {
    text-decoration: underline;
    padding-bottom: 10px;
    padding-top: 10px;
}